@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth; 
}

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, .cabin {
    font-family: 'Cabin', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    background-color: #f7f7f7;
    border-radius: 0.2rem;
    color: #1a202c;
    padding: 0.1rem 0.1rem;
}

.greenShadow {
    box-shadow: 0px 14px 55px rgba(8, 110, 8, 0.45);
}

.specialSpin {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.blur-load {
    background-size: cover;
    background-position: center;
}

.img {
    object-position: center;
    object-fit: cover;
}

.scrolling-tech-icons {
    display: flex;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.demo-container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-image {
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    width: 75%;
    max-width: 100%;
}

/* .demo-container:hover .demo-image {
    transform: rotateY(2deg);
} */

#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
 	transition: 2s opacity;
    background-color: rgb(2 6 23);
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(74 222 128);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(22 163 74);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(20 83 45);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.sticky-button {
    width: 100px; 
    position: sticky; 
    top: 100px; 
    margin-left: 10px; 
    z-index: 10; 
}

@media screen and (max-width: 1400px) {
    .sticky-button {
        margin-left: 10px; 
    }
}